<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lxh.soso">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".stickylayout.StickyNavLayoutActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".rotate.RotateViewActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".stickylayout.StickyScrollViewActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".viewpager.ViewPagerActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".viewpager.HorizontalViewPagerActivity"
            android:label="@string/title_activity_horizontal_view_pager"
            android:parentActivityName=".base.activity.BaseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lxh.soso.base.activity.BaseActivity" />
        </activity>

        <activity
            android:name=".viewpager.HorizontalRankViewPagerActivity"
            android:label="@string/app_name"
            android:parentActivityName=".base.activity.BaseActivity"></activity>
        <activity
            android:name="com.example.lxh.soso.gridview.GridViewActivity"
            android:label="@string/app_name"
            android:parentActivityName=".base.activity.BaseActivity"></activity>
    </application>

</manifest>
